spring:
  application:
    name: my-best-restaurants

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/restaurants}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET:mySuperSecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong!}
  expiration: ${JWT_EXPIRATION:86400000}

server:
  port: ${SERVER_PORT:8080}
